@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap");
@font-face {
  font-family: "valorant-font";
  src: url("../../../public/ValorantFont.ttf") format("truetype");
}

body {
  font-family: "valorant-font";
}
